@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'roboto', sans-serif;
  max-width: 100vw;
}

.landing {
  background: rgb(147,193,162);
  background: linear-gradient(180deg, rgba(147,193,162,0.7) 0%, rgba(147,193,162,0.8) 25%, rgba(147,193,162,0.9) 50%, rgba(147,193,162,1) 70%, rgba(105,135,112,1) 85%, rgba(77,87,79,0.9024859943977591) 100%);
  min-height: 100vh;
}

.realbody {
  margin: auto;
  width: 80%;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 8vh;
  padding: 1rem 0rem;
  color: white;
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 84vh;
  /* padding-inline: 9.25rem; */
}

main > h1 {
  color: white;
  width: 56%;
  font-weight: 400;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

main > h3 {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  word-spacing: 0.5rem;
  letter-spacing: 0.2rem;
  text-align: center;
  width: 30%;
  margin-bottom: 0.75rem;
}

.progress {
  width: 69%;
  min-height: 1rem;
  background-color: lightblue;
}

.bar {
  width: 30%;
  background-color: white;
  box-shadow: 5px 4px 10px 0px rgba(116,116,116,0.46);
  margin-bottom: 2px;
}

.barNumber {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-bottom: 2.5rem;
}

.barNumber > p {
  color: white;
  font-size: 0.8rem;
}

main > a {
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: black;
  background-color: lightblue;
  margin-bottom: 2.5rem;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.iconframes {
  width: 7vh;
  min-height: 7vh;
  border: 1px solid #cccccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconframes > img {
  width: 75%;
  height: 75%;
}

footer {
  color: #999999;
  padding: 0.2rem 5rem;
  min-height: 4vh;
  margin-top: 4vh;
  border-top: 1px solid #999999;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}